[submodule "env/loopy"]
	path = env/loopy
	url = https://github.com/maedoc/loopy
[submodule "env/f2py"]
	path = env/f2py
	url = https://github.com/maedoc/inducer-f2py
[submodule "env/pyopencl"]
	path = env/pyopencl
	url = https://github.com/pyopencl/pyopencl.git
[submodule "env/pytools"]
	path = env/pytools
	url = https://github.com/inducer/pytools.git
[submodule "env/islpy"]
	path = env/islpy
	url = https://github.com/inducer/islpy.git
[submodule "env/cgen"]
	path = env/cgen
	url = https://github.com/inducer/cgen.git
[submodule "env/pymbolic"]
	path = env/pymbolic
	url = https://github.com/inducer/pymbolic.git
[submodule "env/genpy"]
	path = env/genpy
	url = https://github.com/inducer/genpy.git
