sympy
flake8
git+https://github.com/maedoc/inducer-f2py
git+https://github.com/inducer/cgen.git
git+https://github.com/inducer/genpy.git
git+https://github.com/inducer/islpy.git
git+https://github.com/inducer/pymbolic.git
git+https://github.com/inducer/loopy
llvmlite
numba
yapf
